# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/
.env

# Packaging / build
build/
dist/
*.egg-info/

.ipynb_checkpoints/

data/raw/gtfs/
data/processed/
database/sql_complete/

